PGHOST=localhost
PGPORT=55432
PGDATABASE=pharma_analytics
PGUSER=pharma_data
PGPASSWORD=pharma_local_only
DBT_SCHEMA=analytics
METABASE_URL=http://localhost:3001
METABASE_ADMIN_EMAIL=admin@pharma-analytics.internal
METABASE_ADMIN_PASSWORD=change-me-before-first-run
